.example-form {
    min-width: 150px;
    max-width: 250px;
    width: 100%;
    background-color: white;
  }

  .example-full-width {
    width: 100%;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: 600;
    border-bottom-style: solid;
    border-color: rgb(148, 146, 146);
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .content{
        width: 100%;
        margin: 2%;
        margin-top: 3%;
        display: flex;
  }
  .search{
    width: 50%;
    margin-left: 2%;

  }

  .pagination{
    width:50%;
    margin-top: 1.5%;

    justify-content: flex-start !important;
  }

  .mat-paginator-container {
    display: flex;
    align-items: center;
    min-height: 56px;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;}

  table{
    width: 100%;
  }

  .mat-elevation-z8{
    box-shadow: none !important;
  }

  .mat-header-cell{
    font-size: 15px;
  }

  .header1{
    margin-top: 3%;
    font-weight: bold;
    font-size: medium;
  }

  .header2{
    color: gray;
    font-size: 14px;
    margin: 1.5% 0;
  }

  .material-icons{
    font-size: 14px;
  }

  .mat-card{
    width: 35%;
    background-color: rgb(80, 158, 80);
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    border-radius: 500px !important;
    padding: 5px 5px !important;
    margin: 4% 0 0 4%;
}

.whichOrder{
  margin: 3% 0 2% 4%;
  color: rgb(80, 158, 80);
  font-weight: bold;
  font-size: 15px ;

}

.shopIcon{
  color: rgb(80, 150, 80);
  border-style: solid;
  border-color: rgb(255, 255, 255);
  font-size: 20px;
}
