
 <h1 class="dialogHeader" *ngIf="order">Szczegóły zamówienia #{{order.id}}</h1>
 <div class="border"></div>
 <div class="table1" *ngIf="order">
  <table>
    <tr class="row">
       <td class="dialogHeader2">Koszt zamówienia</td> <td class="details">{{order.total}} {{order.currency}}</td>
    </tr>
    <tr class="row">
       <td class="dialogHeader2">Lista produktów</td> <td class="details">
        <div *ngFor="let element of order.line_items">
          {{element.name}} x {{element.quantity}}
        </div></td>
    </tr>
    <tr class="row">
       <td class="dialogHeader2">Dane do dostawy</td><td class="details" *ngIf="order.shipping">  {{order.shipping.first_name}} {{order.shipping.last_name}} <br/>
        {{order.shipping.address_1}} {{order.shipping.address_2}} <span *ngIf="order.billing.address_1"> <br/></span>
        {{order.shipping.postcode}} {{order.shipping.city}} <span *ngIf="order.billing.postcode"> <br/></span>
        {{order.shipping.country}} <span *ngIf="order.billing.country"> <br/></span>
        <span *ngIf="order.billing.phone"> tel.</span> {{order.shipping.phone}}
      </td>
    </tr>
    <tr class="row">
      <td class="dialogHeader2">Dane płatnika</td> <td class="details" *ngIf="order.billing">{{order.billing.first_name}} {{order.billing.last_name}} <br/>
        {{order.billing.address_1}} {{order.billing.address_2}} <br/>
        {{order.billing.postcode}} {{order.billing.city}} <br/>
        <span *ngIf="order.billing.phone"> tel.</span> {{order.billing.phone}} <br/>
        <span *ngIf="order.billing.phone"> e-mail:</span> {{order.billing.email}}
      </td>
   </tr>

  </table>
 </div>

 <div>
  <button (click)="backClick()" class="backButton"> Powrót </button>
 </div>
