/* html, body { height: 100%; } */
body { margin: 0; font-family: Verdana, sans-serif }


.mat-paginator-container {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  margin-right: 5%;
  padding: 0 !important;
}

.mat-dialog-container{
  border-radius: 20px !important;
  padding: 60px !important;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{
  opacity: 10 !important;
}

.cdk-overlay-dark-backdrop{
  background: rgba(0, 0, 0, 0.747);
}
